@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.border-bottom-blue::after {
  content: "";
  display: block;
  margin: 0;
  padding-bottom: 1px;
  width: 20px;
  border-bottom: 1ßpx solid rgba(30, 58, 138, 1);
}

.border-bottom-white::after {
  content: "";
  display: block;
  margin: 0;
  padding-bottom: 3px;
  width: 20px;
  border-bottom: 2px solid #ffffff;
}
